body{
  background-color: black;
}

#title{
  color: white;
  font-weight: 800;
  font-family: 'Bebas Neue', cursive;
  box-sizing: border-box;
  width: 100%;
  overflow: hidden;
  background-color: blue;
  border-radius: 100%;
  text-align: center;
  border: solid silver 10px;
}

.outline{
  color: white;
  background-color: rgb(69,69,69);
  width: 50%;
  position: relative;
  top: 100px;
  left: 25% ;
}

h3{
  text-align: center;  
  border-top: dashed white 5px;
  border-bottom: dashed white 5px;
  font-family: 'Bebas Neue', cursive;
  font-size: 25px;  
}

td strong{
  font-size: 35px;	
}

#h3width{
  width: 5%;
  left: 45%
}

.redtxt{
  color: red;
}

.greentxt{
  color: rgb(0,209,0);
}

.yellowtxt{
  color: yellow;
}

.dredtxt{
  color: rgb(249,69,50);
}
